streamlit
google-generativeai
google-search-results
google-genai
gradio
gradio_client
greenlet
pypdf
python-pptx
python-docx
pymupdf
Pillow
numpy
pandas
plotly
requests
langchain
langchain-community
langchain-core
langchain-google-genai
faiss-cpu
nltk
tqdm
unstructured
unstructured-inference
pyngrok
regex
beautifulsoup4
pdf2image
poppler-utils
pytesseract
python-magic
langdetect
backoff
pydub
opencv-python
gunicorn
jq
xlrd
openpyxl
unstructured[rtf]
pandoc
streamlit-audiorecorder
audio-recorder-streamlit
crewai
crewai-tools
gTTS
PyYAML
SpeechRecognition
gtts
pydantic
ffmpeg-python
python-dotenv
